<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AllInOnePlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AllInOnePlayer.Properties.Settings>
            <setting name="MasterPlaylist" serializeAs="String">
                <value>https://raw.github.com/beejones/aioplayer/master/Example%20Playlists/Weather%20controls/master.asx</value>
            </setting>
            <setting name="ChannelImageSizeHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ChannelImageSizeWidth" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="NameDefaultPlaylist" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="NameChannelPlaylist" serializeAs="String">
                <value>channels</value>
            </setting>
            <setting name="NameHomeControlPlaylist" serializeAs="String">
                <value>homecontrol</value>
            </setting>
            <setting name="HomeControlImageSizeHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="HomeControlImageSizeWidth" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ChannelImageBackground" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="HomeControlImageBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </AllInOnePlayer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
